/* header */
.header__dropdown-menu-item:hover>.dropdown-menu {
    display: block;
}

.header__dropdown-menu-item>.dropdown-toggle:active {
    pointer-events: none;
}

.header__user-dropdown,
.header__login-dropdown {
    width: 250px !important;
}

.header__cart-dropdown,
.header__notification-dropdown {
    width: 300px !important;
}

.header__user-list li a {
    color: black;
    text-decoration: none;
}

.header__user-list li:hover a {
    color: blue;
}

.header__cart-quantity {
    background-color: var(--main-color);
}

.header__cart-item:hover .header__cart-title{
    color: steelblue;
}

.breadcrumb__item:hover{
    color: steelblue !important;
}

/* footer */
.footer__contact {
    color: black;
    text-decoration: none;
}

.footer__contact:hover {
    color: blue !important;
}

.footer__another-app {
    color: black;
}

.footer__another-app:hover {
    color: var(--main-color);
}

/* item-list */
.item-list__card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item-list__card:hover .card-title,
.item-list__card:hover .card-text {
    color: steelblue;
}

.item-list__view-more-btn {
    background-color: var(--main-color) !important;
    color: black !important;
    border-color: var(--main-color) !important;
}

.item-list__view-more-btn:hover {
    opacity: 0.5;
}

.item-list__sort:hover>.dropdown-menu {
    display: block;
}

.item-list__sort>.dropdown-toggle:active {
    pointer-events: none;
}

.item-list__sort .btn {
    width: 160px !important;
}

.item-list__sort .dropdown-menu .dropdown-item:hover {
    color: steelblue !important;
}

.item-list__filter {
    content: '';
    width: 25px !important;
    height: 25px !important;
}

.item-list__filter:hover {
    opacity: 0.5;
}

.disabled{
    opacity: 0.5;
    cursor: default;
}

.item-list__filter-price {
    width: 250px !important;
}


/* -------------ACOUNT INFORMATION -------------- */
/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* :root {--color-primary: #6f6af8;
    --color-primary-light: hsl(242, 91%, 69%, 18%);
    --color-primary-variant: #5854c7;
    --color-red: #da0f3f;
    --color-red-light: hsl(346, 87%, 46%, 15%);
    --color-green: #00c476;
    --color-green-light: hsl(156, 100%, 38%, 15%);
    --color-gray-900: #1e1e66;
    --color-gray-700: #2d2b7c;
    --color-gray-300: rgba(242, 242, 254, 0.3);
    --color-gray-200: rgba(242, 242, 254, 0.7);
    --color-white: #f2f2fe;
    --color-bg: #0f0f3e;

    --transition: all 300ms ease;

    --container-width-lg: 74%;
    --container-width-md: 88%;
    --form-width: 60%;
    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem;
} 
*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: var(--color-gray-200);
    /* overflow-x: hidden; */
    /* background-color: var(--color-bg); */
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--color-white);
    line-height: 1.3;
}

h1 {
    font-size: 3rem;
    margin: 1rem 0;
}

h2 {
    font-size: 1.7rem;
    margin: 1rem 0;
}

h3 {
    font-size: 1.1rem;
    margin: 0.8rem 0.5rem;
}

h4 {
    font-size: 1rem;
}

a {
    color: var(--color-white);
    transition: var(--transition);
}

/* --------ACCOUNT------- */
.container {
    margin: 0;
    /* border: 1px solid red; */
}

.account__information-title {
    /* background: #f6f6f6; */
    border-bottom: 2px solid black;
}

.user {
    background: #f6f6f6;
}

.user__avatar img {
    border-radius: 50%;
}

.user__menu li {
    margin-top: 0.2rem;
}

.user__menu a {
    text-decoration: none;
    color: #191717;
    margin-left: 0.5rem;
}

.user__infor-detail {
    width: 100%;
}

.user__infor-detail p {
    width: 100%;
    color: #808080;
}

.title {
    display: flex;
    width: 90%;
}

.title span {
    width: 650px;
}

.user__infor-detail input {
    width: 650px;
}

/* mapppp */
#map-bg {
    background: #d9edf7;
    font-weight: 600;
}

.user__infor-btn .form-check .form-check-input {
    width: 16px;
}

.user__infor-form {
    display: none;
}

#modal-dialog-user {
    width: 200%;
}

#modal-user {
    width: 200%;
}


/* detail page */
.detail-page__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
  }
  
  .detail-page__left-column {
    width: 65%;
    position: relative;
  }
  .detail-page__ight-column {
    width: 35%;
    margin-top: 20px;
  }
  

  .detail-page__left-column img{
    width: 80%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.8s ease;
  }
  
  .detail-page__left-column img.active {
    opacity: 1;
  }
  
  .detail-page__product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  .detail-page__product-description h1 {
    font-weight: 500;
    font-size: 40px;
    color: #000000;
  }
  .detail-page__product-description p {
    font-size: 25px;
    font-weight: 400;
    color: #000000;
    line-height: 24px;
  }
  .detail-page__product-description span {
    font-size: 25px;
    font-weight: 400;
    color: #000000;
    line-height: 24px;
    text-decoration: underline;
  }
  
  /* Product Configuration */
  .detail-page__product-color span,
  .detail-page__size-config span {
    font-size: 30px;
    font-weight: 400;
    color: #86939E;
    margin-bottom: 20px;
    display: inline-block;
  }
  
  /* Product Color */
  .detail-page__product-color {
    margin-bottom: 30px;
  }
  
  .detail-page__color-choose div {
    display: inline-block;
  }
  
  .detail-page__color-choose input[type="image"] {
    display: none;
  }
  
  .detail-page__color-choose input[type="image"]  {
    display: inline-block;
    width: 95%;
    height: 95%;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.33);
  
  }
  
  .detail-page__color-choose input[type="image"]:focus  {
    border: 1px solid #000000;
  }
  
  .detail-page__size-choose {
    margin-bottom: 20px;
  }
  
  .detail-page__size-choose button {
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #2e2f30;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;
  }
  
  .detail-page__size-choose button:hover,
  .detail-page__size-choose button:active,
  .detail-page__size-choose button:focus {
    border: 3px solid #000000;
    outline: none;
  }
  
  .detail-page__size-config {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  .detail-page__size-config span{
    color: #000000;
  }
  
  .detail-page__product-price {
    display: flex;
    align-items: center;
  }
  
  .detail-page__product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
  }
  
  .detail-page__item-config button{
    font-weight: 400;
    color: #ffffff;
    font-size: 100%;
    line-height: 60px;
    white-space: nowrap;
    background-color: #0d0d0d;
    display: flex;
    width: 25%;
    height: 12%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 30px 102px;
    position:absolute ;
    background-color: #0d0d0d;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000;
    backdrop-filter: blur(4px) brightness(100%);
    -webkit-backdrop-filter: blur(4px) brightness(100%);
    
  }
  
  
  .detail-page__detail-description{
    border-top: 1px solid#86939e;
    margin-top: 120px;
  
  }
  .detail-page__detail-description h1{
    font-size: 30px;
    font-weight: 700;
  }

/* checkout */
.payment-method__icon {
    height: 30px;
    width: 30px;
}

/* homepage */
.homepage img{
    height: 60vw;
}