
.modal{
    display: none;
      position:absolute;
      width: 100%; 
      height: 100%;
      background-color: rgba(255, 255, 255, );
  }
  .modal-content{
      background-color: #fefefe;
      top: 11%; 
      left:  77.1%;
      padding: 20px;
      border: 1px solid #888;
      width: 22%;
      height: 65%; 
      align-items: center;
    
  }
  .modal-content svg{
    width: 20px;
    height: 150%;
    margin-left: 400%;
    margin-top: -400%;
    border: #000000;
  }
  .modal-content .detail-page__check_item_list{
    margin-top: 170px ;
    margin-left: -100px;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    line-height: 60px;
    white-space: nowrap;
    background-color: #0d0d0d;
    display: flex;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 30px 102px;
    position:absolute ;
    background-color: #0d0d0d;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000;
    backdrop-filter: blur(4px) brightness(100%);
    -webkit-backdrop-filter: blur(4px) brightness(100%);
  }
